<?php
    session_start();
?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>bio</title>
</head>
<body>
    <div class="header">
        <h1 style="margin-left: 10px;"></h1>
    </div>
    <div class="profile">
        <div class="profile-items">
            
            <img id="avatar" style = "width: 250px; height: 250px;" src="./static/img/.png" alt="avatar" srcset="">
            
        </div>
        
        <div class="profile-items">
            <div id="items">
                <h2></h2>
                <p></p>
                <p></p>
            </div>
        </div>
    </div>
</body>
</html>


