<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Kavoon' rel='stylesheet'>
    <title>login</title>
    <style>
         body {
            font-family: 'Kavoon';
        }
    </style>
</head>
<body>
    <input type="hidden" id="error" value="<%=(typeof errors == 'undefined')? "": errors.message%>">
    <div class="background">
        <div class="form_card">
        <h1>Login</h1>
        <form method="POST" action="">
                <span class="err"></span><br>
                <input type="text" name="email" placeholder="Email" value="">
                <br>
                <span class="err"></span><br>
                <input type="password" name="password" placeholder="Password">
                <br>
                <br>
                <input type="submit" class="submitBnt" value="Login">
            </form>
            <p>Haven't join yet? | <a style="color: rgb(96, 197, 236);" class="links" href="">Join Now!</a></p>
        </div>
        <br>
        <br>
    </div>
    <script>
        window.onload = ()=> {
            let errors = document.getElementById('error').value;
            if(errors) {
                // console.log(errors);
                alert(errors);
            }
        }
    </script>
</body>
</html>